!!!
%html 
  %body
  
  - if current_user

    = "Welcome, #{current_user.username}"
    %form{action: "/sessions", method: "post"}
      %input{type: "hidden", name: "_method", value: "delete"}
      %input{type: "submit", value: "Log out"}

  - else

    %a{href:"/users/new"} Sign up
    %a{href:"sessions/new"} Log in


  %form{action: "/peeps/new", method: "post"}
    %input{type: "text", name: "peep", size: "200", maxlength: "140"}
    %input{type: "submit", value: "PEEP"}

    %ul 
      - @peeps.reverse.each do |peep|
        - if (Time.now - peep.time) < 60
          %li #{peep.message} - #{(Time.now - peep.time).to_i} seconds ago

        - elsif (Time.now - peep.time) > 60 && (Time.now - peep.time) < 3600
          %li #{peep.message} - #{(Time.now - peep.time).to_i / 60} minutes ago

        - elsif (Time.now - peep.time) > 3600 && (Time.now - peep.time) < 86400
          %li #{peep.message} - #{(Time.now - peep.time).to_i / 3600} hours ago

        - else
          %li #{peep.message} - #{((Time.now - peep.time)/ 86400).to_i} days ago





