!!!
%html 
  %head
    %title Chitter 
  %body
    - if current_user
      = "Welcome, #{current_user.username}"

    - if flash[:errors]
      = "Sorry, there were some problems with your submition"
      %ul
      - flash[:errors].each do |error|
        %li #{error}

    = yield